body {
    font-family: 'Overpass', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    background: #EEE;
    max-width: 800px;
}

h2 {
    margin: 0;
    padding: 15px 10px;
}

h4 {
    margin: 5px 0;
    padding: 0 5px;
}

li {
    list-style-type: none;
}

.capitalize {
    text-transform: capitalize;
}

.recipe-wrapper {
    border: 5px solid #DDD;
    padding: 10px;
    margin: 10px 0;
    background: #B7E0FF;
}

.recipe-wrapper h2 {
    background: rgba(0, 0, 0, 0.2);
}

button {
    margin: 0 3px;
    padding: 10px;
    border-radius: 5px;
}

.filter-buttons .enabled {
    background: #58d869;
}

.filter-buttons .disabled {
    background: #F26888;
}
